<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script crossorigin src="react.development.js"></script>
    <script crossorigin src="react-dom.development.js"></script>
    <script> src = "browser.min.js"</script>
    <script src="babel.min.js"></script>
    <style>
    .stylecolor{
        background-color: lightgrey;
    }
    </style>
</head>

<body>
    <div id="root"></div>
    <script src="xuly.js" type="text/babel"></script>
</body>

</html>